@model Model.EF.KhuTro

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhuTro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.mat_khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.mat_khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.da_xoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.da_xoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_chi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
