@model IEnumerable<Model.EF.KhuTro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.mat_khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.da_xoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dia_chi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.mat_khau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.da_xoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dia_chi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma })
        </td>
    </tr>
}

</table>
