@model Model.EF.TaiKhoan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Bạn có thực sự muốn xóa</h3>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ten_hien_thi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ten_hien_thi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.hinh_anh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hinh_anh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.loai_tai_khoan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.loai_tai_khoan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ten)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ngay_sinh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ngay_sinh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.so_dien_thoai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.so_dien_thoai)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>