@model IEnumerable<Model.EF.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Danh sách tài khoản</h3>
            <h3>@Html.ActionLink("Tạo mới", "Create")</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.mat_khau)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ten_hien_thi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.hinh_anh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.loai_tai_khoan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ngay_sinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.so_dien_thoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.mat_khau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ten_hien_thi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hinh_anh)
                            </td>
                            <td>
                                @if(item.loai_tai_khoan == 0)
                                {
                                    <button class="btn btn-danger">ADMIN</button>
                                }
                                else if (item.loai_tai_khoan == 1)
                                {
                                    <button class="btn btn-warning">Chủ trọ</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary">Thành viên</button>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ngay_sinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.so_dien_thoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.tai_khoan }) |
                                @Html.ActionLink("Details", "Details", new { id = item.tai_khoan }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.tai_khoan })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</section>

@section script{
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}