@model IEnumerable<Model.EF.BaiViet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<div class="col-md-12 room-main-content">
    <div class="pt-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/Category/Post/@ViewBag.Category.ma">@ViewBag.Category.ten</a></li>
        </ol>
    </div><div class="room-list-category">
        <div class="pull-left">
            <a href="#"><h3><span>Trang chủ</span> <i class="fa fa-angle-right"></i></h3></a>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
    @foreach (var item in Model)
    {
        <div class="room-item">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-room-item-title">
                        <a href="/Post/Detail/@item.ma">@item.tieu_de</a>
                    </div>
                    <div class="col-md-3 room-item-thumbnail">
                        <div class="row">
                            <a class="col-md-12 thumbnail room-item-main-img" href="phong-tro-nha-tro/cho-thue-phong-tro-tai-nguyen-chi-thanh-benh-vien-nhi-tw.html">
                                <img class="img-reponsive" src="~/Public/upload/post/@item.hinh_anh" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 room-item-i">
                        <div class="block-room-item-address">
                            <span>Địa chỉ: </span>
                            <a>
                                @item.dia_chi
                            </a>
                        </div>
                        <div class="block-room-item-info">
                            <div class="pull-left">
                                <span>Diện tích: </span><a>@item.dien_tich</a>
                            </div>
                        </div>
                        <br />
                        <div class="block-room-item-price">
                            <span>Giá cả: </span><a>@item.gia_ca Đ/tháng</a>
                        </div>
                        <div class="block-room-item-btn">
                            <a class="btn btn-room-detail" href="/Post/Detail/@item.ma">Xem chi tiết</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    }
</div>
