
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/HomeMaster.cshtml";

    Model.EF.TaiKhoan LoginAccount = (Model.EF.TaiKhoan)Session["LoginAccount"];
}
<div class="col-md-12 room-main-content">
    <div class="pt-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">Trang cá nhân</li>
        </ol>
    </div><div class="user_panel col-md-2 no-padding-vertical">
        <div class="user-avatar">
            <a href="#"><img class="img-responsive" src="https://lh3.googleusercontent.com/-HuydszzylPk/AAAAAAAAAAI/AAAAAAAAAEQ/zXAyBypLSdQ/photo.jpg?sz=50"></a>
        </div>
        <div class="user-panel-menu">
            <div class="user-panel-menu-item active"><a href="http://phongtot.vn/trang-ca-nhan">Tổng quan</a></div>
        </div>
    </div>
    <!-- End left menu -->
    <div class="user_panel col-md-10 user-panel-center-container">
        <div class="user-panel-info">
            <div class="user-panel-name"><a href="/Authen/Profile">@LoginAccount.ten_hien_thi</a></div>
            <div class="user-panel-email"><a href="/Authen/Profile">@LoginAccount.email</a></div>
        </div><div class="user-panel-main-container">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Thông tin cá nhân</a></li>
                    <li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đổi mật khẩu</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <form class="user-panel-main-container-info" method="POST" action="/Authen/ChangeProfile" id="formChangeProfile" enctype="multipart/form-data">
                            <div class="user-panel-info-title">Ảnh đại diện</div>
                            <div class="user-avatar"><a href="#"><img class="img-responsive" src="~/Public/upload/account/@LoginAccount.hinh_anh"></a></div>
                            <div class="user-panel-upload-avatar">
                                <input type="file" name="avatar" value="">
                                <span class="help-block"><div style="color:red;"></div>Kích thước ảnh tối đa 1MB.</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hoten">Tên hiển thị</label>
                                        <input type="text" class="form-control" name="ten_hien_thi" value="@LoginAccount.ten_hien_thi" placeholder="Họ tên">
                                        <span class="help-block" style="color:red;"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="hoten">Tên</label>
                                        <input type="text" class="form-control" name="ten" value="@LoginAccount.ten" placeholder="Họ tên">
                                        <span class="help-block" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Điện thoại liên hệ</label>
                                        <input type="text" class="form-control" name="so_dien_thoai" value="@LoginAccount.so_dien_thoai" placeholder="Địa chỉ">
                                        <span class="help-block" style="color:red;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn center-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="profile">

                        <form class="user-panel-main-container-info" method="POST" action="/Authen/ChangePassword" id="formChangePassword" enctype="multipart/form-data">
                            <div class="form-group">
                                <span style="display: none" id="msgResult"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mật khẩu cũ</label>
                                <input type="password" class="form-control" name="oldpassword" required placeholder="Mật khẩu cũ">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mật khẩu mới</label>
                                <input type="password" class="form-control" name="password" required placeholder="Mật khẩu mới">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                                <br />
                                <span style="display:none; color:red" id="msgRePassword">Mật khẩu không khớp</span>
                                <input type="password" class="form-control" name="repassword" required placeholder="Nhập lại mật khẩu">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#formChangeProfile').submit(function (e) {

        })

        $('#formChangePassword').submit(function (e) {
            e.preventDefault();
            if ($('[name="password"]').val() != $('[name="repassword"]').val()) {
                $('#msgRePassword').show();
            } else {
                console.log("?? ")
                $.post("/Authen/ChangePassword",{
                        oldPassword: $('[name="oldpassword"]').val(),
                        password: $('[name="password"]').val()
                    },function (result) {
                        if (result == "true") {
                            $('#msgResult').css("color", "green").show().html("Cập nhật thành công");
                        } else {
                            $('#msgResult').css("color", "red").show().html("Mật khẩu không chính xác");
                        }
                    }
                )

            }
        })
    })
</script>